/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~ngx-toastr/toastr.css';
// @import "~angular/material/prebuilt-themes/indigo-pink.css";

.container{
    // height: 100%;
    padding-bottom: 5%;
    margin-top: 20px;
    border: 4px solid #6daf42;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
